.jumbotron {
	background: #E8D2BB;
}

.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

body {
	background: #E96E82;
}

hr {
	border-color: inherit;
	    margin: 1em 0;
}

#resultsModal img {
	overflow: hidden;
	width: 500px;
}